# compiled binaries
*.out

# data files and large preprocessed outputs
data/*
results/*
plots/*
scripts/plotting/_pycache_/*
scripts/plotting/__pycache__/loaders.cpython-312.pyc
scripts/plotting/__pycache__/summaries.cpython-312.pyc

# don't ignore placeholder files (to keep directories in Git)
!data/.gitkeep
!results/.gitkeep
!plots/.gitkeep

# temporary/editor files
*.tmp
.vscode/
venv/
